<%- include('partials/head.ejs') %>

  <title>Error <%= error.codigo %></title>
</head>
<body>
  <h1 style="color: red;">Error <%= error.codigo %></h1>
  <p><%= error.msg %></p>



<%- include('partials/footer.ejs') %>