<%- include('partials/head.ejs') %>

  <title>Vendehumos</title>
</head>
<body>
  <h1>Listado vendehumos (EJS)</h1>
  <a href="/nuevo-vendehumo">Nuevo vendehumo</a>

  <form action="/logout" method="post">
    <button type="submit">Logout</button>
  </form>

  <% for (let vendehumos of listaVendehumos) { %>
    <div>
      <p><%= vendehumos.nombre %></p>
      <p>Categoria: <%= vendehumos.categoria %></p>
      <form action="/update-votos-vendehumos/<%= vendehumos.id %>" method="post">
        <input type="text" hidden name="numVotos" value="<%= Number(vendehumos.numVotos)+1 %>">
        <button type="submit"><%= vendehumos.numVotos %></button>
      </form>

      <a href="/vendehumos/<%= vendehumos.id %>">+ Info</a>
    </div>
  <% } %>

<%- include('partials/footer.ejs') %>